Repository zhuling904/react_template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"**/*.{js,jsx}": [
	  "prettier --config .prettierrc --write",
	  "eslint --fix"
	],
	"**/*.less": [
	  "stylelint --fix"
	]
}

fix: lint-stage
  package.json
Due: none

fix: 删除不必要的依赖
  package.json
  yarn.lock
Due: none

fix: css loader
  .eslintignore
  .eslintrc.js
  .prettierignore
  .stylelintignore
  package.json
  public/index.html
  scripts/config/webpack.common.js
  scripts/config/webpack.dev.js
  scripts/config/webpack.prod.js
  scripts/constant.js
  src/app.js
  src/app.less
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat: 支持react&ts
  .babelrc
  package.json
  scripts/config/webpack.common.js
  src/app.js
  src/app.tsx
  src/good.jpg
  src/index.js
  src/index.tsx
  src/typings/file.d.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: less & css module
  scripts/config/webpack.common.js
  src/app.js
  src/app.tsx
  src/index.js
  src/index.less
  src/index.ts
  src/index.tsx
  src/style/index.less
  src/typings/global.d.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat: ts&webpack alias
  .eslintignore
  .eslintrc.js
  .prettierignore
  .stylelintignore
  package.json
  scripts/config/webpack.common.js
  src/app.tsx
  src/components/Header/index.tsx
  src/components/Header/style/index.less
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat: new
  .babelrc
  package.json
  scripts/config/webpack.common.js
  src/app.tsx
  src/index.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix

fix: readme.md
  README.md
Due: none

feat: storybook
  .eslintrc.js
  .npmrc
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier --config .prettierrc --write, eslint --fix
